[MASTER]
disable=
    C0111, # missing-docstring
    C0103, # invalid-name
    R0913, # too-many-arguments
    W0212, # protected-access
    C0301, # line-too-long

[FORMAT]
max-line-length=100

[DESIGN]
max-attributes=7
max-arguments=6
